<h1>This is view in post folder</h1>

<p>what is happening? We created controller. then route. get "post", to:"post#index".
when we type localhost:3000/post, then it calls post controller's index method. Index method is actually
a read verb in CURD. So it pulls out index.html.erb from view folder which is inside view>post>index</p>